// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {background-color:#b0c4de;}

table
{
border:1px solid black;
width:75%;
}

.pretty th .current {
  padding-right:12px;
  background-repeat:no-repeat;
  background-position:right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.jpg);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.jpg);
}

tr:nth-child(odd) 	{background-color:#eeeeee;}
tr:nth-child(even) 	{background-color:#ffffff;}
td
{
text-align:center;
vertical-align:bottom;
}

